{% load static %}
<div class="col-sm-4">
    <aside id="blog_sidebar_widget_author_bio-2" class="widget widget_blog_sidebar_widget_author_bio">
                <div class="blog-sidebar-widget-author-bio-holder">
                    
                <div class="image-holder">
    {% if user.is_authenticated %}
    
                {% if user.profile_photo %}
            <img class="avatar" src="{{ user.profile_photo.url }}" alt="Profile Photo">
               {% else %}
               <img width="300" height="200" src="#" class="attachment-medium size-medium" alt="Jessica Johns" decoding="async" loading="lazy" />  
               {% endif %}
               {% endif %}
                      </div> 
               
<div class="text-holder">
    <div class="title-holder">{{ user }}</div> 
    <div class="author-bio-content">
       
  
        <p>Bienvenue, {{ user }} ! 😇 Vous etes connecter en tant que {{ request.user.role }}.</p>  
  

       
    </div>
    <div class="text-signature">{{ user }}</div>                
    
    <div class="author-bio-socicons">
                                <ul class="author-socicons">
                                                <li class="social-share-list">
                            <a target=_blank href="https://facebook.com">
                                <i class="fa fa-facebook"></i>
                            </a>
                            
                        </li>
                                                        <li class="social-share-list">
                            <a target=_blank href="https://instagram.com">
                                <i class="fa fa-instagram"></i>
                            </a>
                            
                        </li>
                                            </ul>
                    </div>
</div>
</div>
</aside>

<aside id="blog_sidebar_widget_pro_recent_post-2" class="widget widget_blog_sidebar_widget_pro_recent_post">
<h5 class="widget-title">Recent Posts</h5>
<ul class="style-three">
    <li>
        {% for blog in blogs %}
<a target="_self" href="#" class="post-thumbnail">
<img src="{{ blog.picture.url }}"
 class="attachment-post-slider-thumb-size size-post-slider-thumb-size wp-post-image" 
 alt="" itemprop="image" decoding="async" loading="lazy" style="border-radius: 30px; width: 320px; height: 230px;" />  
                          </a>
<div class="entry-header">
<span class="cat-links"><a target="_self" href="#" alt="View all posts in Lifestyle">Lifestyle</a></span>
 <h3 class="entry-title" ><a target="_self" href="#" style="color:rgba(165, 6, 104, 0.918);">{{ blog.title }}</a></h3>
<div class="entry-meta">
<span class="posted-on"><a target="_self" href="#">
 <time datetime="2017-11-21">{{ blog.date_created|date:"F d, Y" }}</time></a>
</span>
</div>
</div> 
{% endfor %}                       
</li>        
</ul>
</aside>
</div>



