{% load static %}
<html>
{% include "head.html" %} 



<body class="home page-template page-template-template-home page-template-template-home-php page page-id-12 wp-embed-responsive theme-bootstrap-blog woocommerce-no-js">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDL878H"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    

    {% include "header.html" %}   



	
	{% block content %}
     

	{% endblock content %}

	

{% include "footer.html" %} 
{% include "script.html" %} 
  


</body>

</html>



