   
{% load static %}
{% include "head.html" %} 
{% block content %}
<div class="inside-page">
<div class="container">
  <div class="row">

          <section class="page-section col-sm-8">
              <div class="detail-content">            
 
<div class="single-post">
<div class="post-content">
         
  <article>
      <div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>

  <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Modifier les photo 📸 😜🥰</h2>
  <p>{{ message }}</p>
  <form class="woocommerce-form woocommerce-form-login login" method="post" enctype="multipart/form-data">
    {{ edit_form.as_p }}

    {% csrf_token %}
     <p class="form-row">
          
          <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="1df36caf27" /><input type="hidden" name="_wp_http_referer" value="" />	
<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">
    Sauvegarder👇</button>
      </p>
    
  </form>

  <form class="woocommerce-form woocommerce-form-login login" method="post">
    {{ delete_form.as_p }}

    {% csrf_token %}
     <p class="form-row">
          
          <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="1df36caf27" /><input type="hidden" name="_wp_http_referer" value="" />	
<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">
    Supprimer❌</button>
      </p>
    
  </form>

</div>
</article> <!-- /.end of article -->
</div>


</div>
{% endblock content %}

{% include "script.html" %} 

