{% load static %}
<footer class="main">
    <div class="container">
    <aside id="blog_sidebar_widget_contact_social_links-2" class="widget widget_blog_sidebar_widget_contact_social_links"><h5 class="widget-title">Jessica John</h5>  

    <div class="blog-sidebar-widget-contact-widget-wrap contact-info">
    <p>WordPress is an award-winning web software, used by millions of webmasters worldwide for building their website or blog. </p>
<ul class="contact-list"><li><i class="fa fa-phone"></i><a href="tel:985505050">985505050</a></li><li><i class="fa fa-envelope"></i><a href="mailto:jes@gma.com">jes@gma.com</a></li><li><i class="fa fa-map-marker"></i>NS</li></ul>        </div>
    </aside>
   
        
        <aside id="nav_menu-2" class="widget widget_nav_menu"><h5 class="widget-title">Menu</h5><div class="menu-footer-container"><ul id="menu-footer" class="menu"><li id="menu-item-670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-670"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/sample-page/">Sample Page</a></li>
<li id="menu-item-671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-671"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/my-account/">My account</a></li>
<li id="menu-item-672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-672"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/checkout/">Checkout</a></li>

<li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-673"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/cart/">Cart</a></li>
<li id="menu-item-674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-674"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/about-us/">About Us</a></li>
<li id="menu-item-675" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-675"><a href="https://thebootstrapthemes.com/previews/bootstrap-blog/pages/">Pages</a></li>
</ul></div></aside>	</div>
</footer>

