{% load static %}


<header class="header-1 sticky-header">

	
		<div class="site-title text-center" > 
		<h1 style="color: blue; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">News</h1> 
			<p class="site-description" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Actualité en temps réel</p></div>

	
	


	<section  class="main-nav nav-one">
		<div class="container">
			<nav class="navbar">
		      	<button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>	    
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  							
					<div class="menu-main-menu-container">
						
	<ul id="menu-main-menu" class="nav navbar-nav"><li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-643 active">
						<a title="Home" href="{% url 'index' %}">Home</a></li>
<li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-522 dropdown"><a title="Pages" href="#">Pages <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-526"><a title="Left Sidebar"   href="#">Left Sidebar</a></li>
	<li id="menu-item-527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-527"><a title="Full Width" href="#">Full Width</a></li>
	<li id="menu-item-525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-525"><a title="About Us" href="#">About Us</a></li>
</ul>
</li>
<li id="menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a title="Blog" href="{% url 'blog' %}">Blog</a></li>
<li id="menu-item-638" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-638 dropdown"><a title="Shop" href="#">Shop <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li id="menu-item-639" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-639"><a title="My account" href="#">My account</a></li>
	</ul>
</li>
<li id="menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a title="login" href="{% url 'login' %}">login</a></li>

</ul></div>			        
			    </div> <!-- /.end of collaspe navbar-collaspe -->
			</nav>
		</div>

	</section>
	
</header>