{% extends 'base.html' %}
  {% load static %}
  {% block content %}

 <!-- Google Tag Manager (noscript) -->

        <div class="content-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
              
                <div class="slider-banner slider-banner-1">
                  <div id="owl-slider" class="owl-carousel"> 
                    {% for photo in photos %}
                  <div class="item">
                    
                 <div class="banner-news-list">
                  <div class="banner-news-image">
                                               
                  <img src="{{ photo.image.url }}" alt="" class="img-responsive" 
                  style=" border-radius: 30px; width: 700px; height: 550px;">
                   </div>
                  <div class="banner-news-caption">
                   <h6 class="category"><a class="news-category" href="#">Lifestyle</a></h6>  
                    <h3 class="news-title"><a href="#" style="color:rgba(165, 6, 104, 0.918);">Lifestyle</a></h3>
                    <div class="info">
                   <i class="fa fa-clock-o" aria-hidden="true"></i>
                   {{ photo.date_created|date:"F d, Y" }}                     </div>
                                
                   <div class="summary"> {{ photo.caption }} </div>
                     <a href="#" class="readmore">Read More</a>
                     <p class="text-secondary"><a href="{% url 'edit_photo' photo.id %}">Modifier la 📸</a></p>


                </div> 

                          </div>

                        </div>
                        {% endfor %}
                          </div> 
                          
                </div>
      <div class="home-archive inside-page post-list">
      <div class="grid-view blog-list-block">   
        {% for blog in blogs %}                                      
       <div id="post-165" class="post-165 post type-post status-publish format-standard has-post-thumbnail hentry category-design category-fashion eq-blocks">
        <div class="news-snippet">        
          <a href="{% url 'view_blog' blog.id %}" rel="bookmark" class="featured-image">
                    
          <img src="{{ blog.picture.url }}" 
         class="attachment-post-slider-thumb-size size-post-slider-thumb-size wp-post-image" 
          alt="" itemprop="image" decoding="async" loading="lazy" 
        style="border-radius: 30px; width: 350px; height: 350px;" />    
        </a>                       
     
           <div class="summary">
          <h6 class="category"><a href="#">Design</a></h6>
           <h6 class="category"><a href="#">Fashion</a></h6>
                                       
          <h4 class="news-title"><a href="{% url 'view_blog' blog.id %}" rel="bookmark" >{{ blog.title }}</a></h4>
           <div class="info">
          <ul class="list-inline">
          <li><i class="fa fa-clock-o"></i> <a href="#">{{ blog.date_created|date:"F d, Y" }}</a></li>
           </ul>
          </div>
                              
    <p>{{ blog.lead }}</p>
                    
  <a href="{% url 'view_blog' blog.id %}" rel="bookmark" title="" class="readmore">Read More </a>
  <p class="text-secondary"><a href="{% url 'edit_blog' blog.id %}">Modifier l'article</a></p>
            
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
           </div>
         </div>
            
                         
                      {% include 'aside.html' %}
                </div>
            </div>
            </div>    <!-- banner-news -->
                
                
                    <!-- banner-news -->

{% endblock content %}

</body>

	
		
		